@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Thai:wght@100;200;300;400;500&display=swap');
:root {
    --bg: rgb(255, 255, 255);
    --bg_wrapper: rgb(255, 255, 255);
}
html,body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: var(--bg);
    font-family: 'Noto Serif Thai', serif;
}
#wrapper {
    background-color: var(--bg);
    flex: 1;
}
header {
    top: 0;
    position: sticky;
    height: 50px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul {
    margin: 0;
    list-style: none;
}
header ul li {
    display: inline;
}
header ul li a {
    color: black !important;
    text-decoration: none;
}
.header-title {
    height: 180px;
    background-image: url('../header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    font-weight: bolder;
}
main {
    min-height: 100vh;
}
.wrapper-content {
    max-width: 70vw;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 370px;
    grid-gap: 20px;
}
.card {    min-height: 300px; /* ปรับขนาดตามที่ต้องการ */}
.wrapper-new {
    min-height: 600px; /* ปรับขนาดตามที่ต้องการ */
    display: flex;
    flex-direction: row;
    clear: both;
}
section.content-new {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 15px;
}
.img-new {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.detail-new {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: rgb(24, 24, 24);
}
.list-footer-new {

}
footer { flex-shrink: 0;}
.list-footer-new ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
article {margin-block: 20px;padding: 10px;}
article section {
    border-radius: 5px;
    padding: 10px;
    background-color: var(--bg_wrapper);
    
}
.list-footer-new ul li {
    display: inline;
    padding-inline-end: 10px;
}
aside {
    border-radius: 5px;
    padding: 10px;
    background-color: var(--bg_wrapper);
    margin-block: 20px;
}
aside ul {
    list-style: auto;
}
aside ul li {
    padding: 5px;
}
h5 {
    margin-bottom: 0 !important;
}
aside ul li a {
    text-decoration: none;
    color: rgb(35, 104, 168) !important;
}
a {
    font-weight: 500;
    text-decoration: none !important;
    color: rgb(35, 104, 168) !important;
}
aside .topic {
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 10px;
    padding-inline: 18px;
}
article .topic {
    background-color: var(--bg_wrapper);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 10px;
    padding-inline: 10px;
}

.wrapper-banner {
    max-width: 70vw !important;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
    min-height: 300px; /* ปรับขนาดตามที่ต้องการ */
} 
.banner-title
{
    padding-block: 10px;
    padding-inline: 10px;
    max-width: 70vw !important;
    margin: auto;
}
section.banner {
    width: 100%;
    margin: 10px;
    height: 140px;
    background-color: rgb(244, 244, 244);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wrapper-banner section:nth-child(1) {
    color: rgb(234, 21, 96);
    background-image: url('https://www.gotoloei.com/data/content/557359/thumb/img_display.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.mr-top-100 {
    margin-top: 100px !important;
}