@import url('https://fonts.googleapis.com/css2?family=Niramit:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');
:root {
    --bg: rgb(255, 255, 255);
    --bg_wrapper: whitesmoke;
}
html,body {
    margin: 0;
    background-color: var(--bg);
    font-family: 'Niramit', sans-serif;
}
#wrapper {
    background-color: var(--bg);
}
header {
    height: 50px;
    background-color: rgb(252, 252, 252);
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul {
    margin: 0;
    list-style: none;
}
header ul li {
    display: inline;
}
header ul li a {
    color: black !important;
    text-decoration: none;
}
.header-title {
    height: 180px;
    background-image: url('../header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main {
    height: 100%;
}
.wrapper-content {
    max-width: 70vw;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 370px;
    grid-gap: 20px;
}
section.content-new {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 15px;
}
.img-new {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.detail-new {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: rgb(24, 24, 24);
}
.list-footer-new {

}

.list-footer-new ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
article {margin-block: 20px;padding: 10px;}
article section {
    border-radius: 5px;
    padding: 10px;
    background-color: var(--bg_wrapper);
    
}
.list-footer-new ul li {
    display: inline;
    padding-inline-end: 10px;
}
aside {
    border-radius: 5px;
    padding: 10px;
    background-color: var(--bg_wrapper);
    margin-block: 20px;
}
aside ul {
    list-style: auto;
}
aside ul li {
    padding: 5px;
}
h5 {
    margin-bottom: 0 !important;
}
aside ul li a {
    text-decoration: none;
    color: rgb(35, 104, 168) !important;
    font-weight: bold;
}
a {
    text-decoration: none !important;
    color: rgb(35, 104, 168) !important;
    font-weight: bold;
}
aside .topic {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 10px;
    padding-inline: 18px;
}
article .topic {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 10px;
    padding-inline: 18px;
}